USE [master]
GO
/****** Object:  Database [BD-EQUIPO_TITULAR]    Script Date: 23/11/2021 13:25:49 ******/
CREATE DATABASE [BD-EQUIPO_TITULAR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD-EQUIPO_TITULAR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD-EQUIPO_TITULAR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD-EQUIPO_TITULAR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD-EQUIPO_TITULAR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD-EQUIPO_TITULAR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD-EQUIPO_TITULAR]
GO
/****** Object:  Table [dbo].[equipo]    Script Date: 23/11/2021 13:25:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[equipo] ON 

INSERT [dbo].[equipo] ([Id], [Nombre], [Apellido], [Edad]) VALUES (1, N'Jose Luis', N'Chilavert', 30)
INSERT [dbo].[equipo] ([Id], [Nombre], [Apellido], [Edad]) VALUES (2, N'Guillermo', N'Sara', 28)
INSERT [dbo].[equipo] ([Id], [Nombre], [Apellido], [Edad]) VALUES (3, N'Emiliano', N'Martinez', 29)
SET IDENTITY_INSERT [dbo].[equipo] OFF
GO
USE [master]
GO
